@{
    ViewData["Title"] = "Home Page";
}


@if (TempData["RegisterMessage"] != null)
{
    @if (TempData["RegisterMessage"].ToString().Equals("Success"))
    {
        <div class="alert alert-success" role="alert">
            Poprawnie zarejestrowano! Teraz zaloguj się!
        </div>
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


