@{
    ViewData["Title"] = "Home Page";
}


@*Wyświetlenie komunikatu o powodzeniu rejestracji*@
@if (TempData["RegisterMessage"] != null)
{
    @if (TempData["RegisterMessage"].ToString().Equals("Success"))
    {
<div class="alert alert-success" role="alert">
    Poprawnie zarejestrowano! Teraz <a asp-area="" asp-controller="Account" asp-action="Login" class="alert-link">zaloguj się!</a>
</div>
    }
}

@*Powitanie na stronie głównej*@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Zapoznaj się z możliwościami aplikacji.</p>
</div>


